/* .blue { */
    /* background-color: blue; */
    /* color: rgb(0, 255, 170); */
    /* border: 2px solid black; */
/* } */
/*  */
/* h3 { */
    /* Add styles specifically for h3 if needed */
/* } */
/*   */